<ion-row class="ion-margin ion-padding weatherDataCard">
 <ion-col size="8">
  <p class="area">{{weatherDetails.timezone}}</p>
  <h1 class="temperature">{{weatherDetails.current.temp | temperature}} &#176;</h1>
  <ion-badge color="warning">{{weatherDetails.current.weather[0].description | titlecase}}</ion-badge>
 </ion-col>
  <ion-col size="4">
    <img [src]="'https://openweathermap.org/img/w/'+weatherDetails.current.weather[0].icon+'.png'" alt="weather-app">
  </ion-col>

  <ion-col>
    <ion-row>
      <ion-col>
        <ion-icon name="thermometer-outline" color="warning" class="ion-margin-right"></ion-icon>
        <span class="value">{{weatherDetails.current.pressure}}</span>
      </ion-col>
      <ion-col>
        <ion-icon name="water-outline" color="warning" class="ion-margin-right"></ion-icon>
        <span class="value">{{weatherDetails.current.humidity}}</span>
      </ion-col>
      <ion-col>
        <ion-icon name="cloudy-outline" color="warning" class="ion-margin-right"></ion-icon>
        <span class="value">{{weatherDetails.current.clouds}}</span>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>

<ion-row class="">
  <ion-col class="ion-padding">
    <div>
      <ion-icon name="sunny" color="warning"></ion-icon>
      <small class="medium"> Dawn</small>
    </div>
    <p>{{weatherDetails.current.sunrise | date:'shortTime'}}</p>
  </ion-col>
  <ion-col class="ion-padding ion-text-right">
    <div>
      <small class=""> Evening </small>
      <ion-icon name="moon" color="white">
      </ion-icon>
    </div>
    <p>{{weatherDetails.current.sunset | date:'shortTime'}}</p>
  </ion-col>
</ion-row>




