<ion-item>
  <ion-icon [name]="dayState.icon" slot="start" [color]="dayState.color"></ion-icon>
  <ion-label slot="end">Good {{dayState.greetings}}</ion-label>  
</ion-item>

<div class="ion-text-center weather-card">
  <div>
    <h5 class="ion-no-margin ion-margin-top">
      <ion-text color="warning">{{weatherDetails.timezone | regionCityDividar:'City'}}</ion-text>
    </h5>
  </div>
  <div>
    <small>
      <ion-text color="medium">{{weatherDetails.timezone | regionCityDividar:'Region'}}</ion-text>
    </small>
  </div>
  <div class="date">
    <span>
      <ion-text>{{weatherDetails.current.dt | unixTimeConverter:'days'}}, </ion-text>
    </span>
    <span>
      <ion-text>{{ weatherDetails.current.dt | unixTimeConverter:'date'}}, </ion-text>
    </span>
    <span>
      <ion-text>{{ weatherDetails.current.dt | unixTimeConverter}}</ion-text>
    </span>
  </div>
  <div>
    <img [src]="'https://openweathermap.org/img/w/'+weatherDetails.current.weather[0].icon+'.png'" alt="weather-app">
  </div>
  <div>
    <h1 class="ion-no-margin">
      <ion-text>{{weatherDetails.current.temp | temperature}} &#176;
      </ion-text>
    </h1>
  </div>
  <!-- <div>
    <span><ion-text>{{weatherDetails.current.weather[0].main | titlecase}}</ion-text></span>
  </div> -->
  <div>
    <small><ion-text color="medium">weather feel {{weatherDetails.current.weather[0].description | titlecase}}</ion-text></small>
  </div>
</div>

<ion-row class="ion-padding ion-margin-right ion-margin-left">
  <ion-col>
    <div class="ion-text-center" style="border-right:1px solid grey">
     <small class="ion-no-margin">
       <ion-text>
        {{weatherDetails.current.pressure}}
       </ion-text>
     </small>
     <div>
       <small>
         <ion-text color="medium">
           pressure
         </ion-text>
       </small>
     </div>
    </div>
  </ion-col>
  <ion-col>
      <div class="ion-text-center" style="border-right:1px solid grey">
        <small class="ion-no-margin">
          <ion-text>
            {{weatherDetails.current.humidity}}
          </ion-text>
        </small>
        <div>
          <small>
            <ion-text color="medium">
              humidity
            </ion-text>
          </small>
        </div>
      </div>
  </ion-col>
  <ion-col>
      <div class="ion-text-center">
        <small class="ion-no-margin">
          <ion-text>
            {{weatherDetails.current.clouds}}
          </ion-text>
        </small>
        <div>
          <small>
            <ion-text color="medium">
              clouds
            </ion-text>
          </small>
        </div>
      </div>
  </ion-col>
</ion-row>


<!-- 
<ion-row class="ion-padding weatherDataCard">
 <ion-col size="8">
  <ion-text color="medium">
    <small class="area">{{weatherDetails.timezone}}</small>
  </ion-text>
  <ion-text color="warning">
  <h1 class="temperature">{{weatherDetails.current.temp | temperature}} &#176;</h1>
  </ion-text>
 </ion-col>
  <ion-col size="4" class="ion-text-center">
    <img [src]="'https://openweathermap.org/img/w/'+weatherDetails.current.weather[0].icon+'.png'" alt="weather-app">
    <ion-badge color="warning">{{weatherDetails.current.weather[0].description | titlecase}}</ion-badge>
  </ion-col>

  <ion-col>
    <ion-row>
      <ion-col class="ion-text-left">
        <ion-icon name="thermometer-outline" color="warning" class="ion-margin-right"></ion-icon>
        <ion-text color="medium"><span class="value">{{weatherDetails.current.pressure}}</span></ion-text>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-icon name="water-outline" color="warning" class="ion-margin-right"></ion-icon>
        <ion-text color="medium">
          <span class="value" color="medium">{{weatherDetails.current.humidity}}</span>
        </ion-text>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-icon name="cloudy-outline" color="warning" class="ion-margin-right"></ion-icon>
        <ion-text color="medium">
          <span class="value" color="medium">{{weatherDetails.current.clouds}}</span>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>

<ion-row class="ion-no-margin">
  <ion-col class="ion-padding">
    <div>
      <ion-icon name="sunny" color="warning"></ion-icon>
     <small class="medium"> {{weatherDetails.current.sunrise | date:'shortTime'}}</small> -->
       <!-- <small class="medium"> {{weatherDetails.current.sunrise | unixTimeConverter}}</small>
    </div>
  </ion-col>
  <ion-col class="ion-padding ion-text-right">
    <div>
      <small class=""> {{weatherDetails.current.sunset | date:'shortTime'}} </small> -->
      <!-- <small class="medium"> {{weatherDetails.current.sunset | unixTimeConverter}}</small>
      <ion-icon name="moon" color="white">
      </ion-icon>
    </div>
  </ion-col>
</ion-row> -->




