
<!-- <ion-item>
  <ion-text color="medium" slot="start">
    <p> Today</p>
  </ion-text>
  <ion-button slot="end" fill="clear" color="medium" size="large" (click)="navigatePages()">
    <ion-icon name="ellipsis-horizontal"></ion-icon>
  </ion-button>
</ion-item> -->

<div class="ion-padding">
  <small>
    <ion-text color="medium">
      Todays hourly forcast
    </ion-text>
  </small>
  <ion-slides pager="false" [options]="slideOpts" mode="ios" class="ion-margin-top">
    <ion-slide *ngFor="let hourly of weatherDetails.hourly" tappable>
      <app-hourly-card [hourly]="hourly"></app-hourly-card>
    </ion-slide>
  </ion-slides>
</div>