<ion-content>
  <ion-grid>
  <app-curr-loc-weather [cityWeather]="cityWeather"></app-curr-loc-weather>
 </ion-grid>
</ion-content>











<!-- <ion-card>
   <ion-card-header>
     <ion-card-subtitle>My location</ion-card-subtitle>
     <ion-card-title>My latitude and longitude</ion-card-title>
   </ion-card-header>
   <ion-card-content>
     click the bellow button to find out the lat long value of current location
     <p><b>Lat :</b> {{coords?.latitude}}</p>
     <p><b>Log :</b> {{coords?.longitude}}</p>
     <ion-button expand="full" (click)="locate()">
       Locate my address
     </ion-button>
   </ion-card-content>
 </ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>My Addres</ion-card-subtitle>
    <ion-card-title>My Living address</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    click the bellow button to find out the lat long value of current location
    <p><b>Counrty Code :</b> {{address?.countryCode}}</p>
    <p><b>Country Name :</b> {{address?.countryName}}</p>
    <p><b>Locality     :</b> {{address?.locality}}</p>
    <p><b>Thoroughfare :</b> {{address?.thoroughfare}}</p>
    <ion-button expand="full" (click)="getLocation(coords?.latitude,coords?.longitude)">
      Locate my address
    </ion-button>
  </ion-card-content>
</ion-card> -->
