<ion-content>
  <ion-grid>
  <!-- ============= [ Locaiton ] ================ -->
  <ion-item>
    <ion-label slot="start" class="ion-text-wrap">
      <h3 class="">{{demoData.timezone}}</h3>
    </ion-label>
    <ion-icon name="globe" slot="end" color="warning"></ion-icon>
  </ion-item>
  <!-- ============= [ Data card ] ================ -->
  <ion-card class="ion-margin">
    <ion-row>
      <ion-col size="6">
        <img [src]="'https://openweathermap.org/img/w/'+demoData.current.weather[0].icon+'.png'" alt="weather-app" style="height: 140px;width: 140px;">
      </ion-col>
      <ion-col size="6">
       <h4 class="color-white">{{demoData.current.weather[0].description | titlecase}}</h4>
       <h1 style="font-size:55px" class="color-white">
        {{demoData.current.temp | temperature}} &#176;
       </h1>
      </ion-col>
    </ion-row>
  </ion-card>

 </ion-grid>
</ion-content>











<!-- <ion-card>
   <ion-card-header>
     <ion-card-subtitle>My location</ion-card-subtitle>
     <ion-card-title>My latitude and longitude</ion-card-title>
   </ion-card-header>
   <ion-card-content>
     click the bellow button to find out the lat long value of current location
     <p><b>Lat :</b> {{coords?.latitude}}</p>
     <p><b>Log :</b> {{coords?.longitude}}</p>
     <ion-button expand="full" (click)="locate()">
       Locate my address
     </ion-button>
   </ion-card-content>
 </ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>My Addres</ion-card-subtitle>
    <ion-card-title>My Living address</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    click the bellow button to find out the lat long value of current location
    <p><b>Counrty Code :</b> {{address?.countryCode}}</p>
    <p><b>Country Name :</b> {{address?.countryName}}</p>
    <p><b>Locality     :</b> {{address?.locality}}</p>
    <p><b>Thoroughfare :</b> {{address?.thoroughfare}}</p>
    <ion-button expand="full" (click)="getLocation(coords?.latitude,coords?.longitude)">
      Locate my address
    </ion-button>
  </ion-card-content>
</ion-card> -->
